* {
    margin: 0;
}

header{
    border: darkgreen;
}
P {
    color: rgb(50, 50, 119);
    background-color: rgb(92, 153, 32);
}

.bodyText{
background-color: gray;
color: white;
}

h1 {
    background-color: chocolate;
}
